.venv
.vscode
io
test
qdrant_db

# Environment variable files
.env
.env.*
!.env.example

frontend/.venv_frontend
frontend/__pycache__

graphify-out
.uv-cache
__pycache__/
*.py[cod]
*$py.class
src/__init__.py
src\rag_engine\__init__.py